<div class="heading"><a ui-sref="home"><img src="assets/img/refstack-logo.png" alt="Refstack"></a>
Refstack
</div>
<nav class="navbar navbar-default" role="navigation" ng-controller="headerController">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" ng-click="navbarCollapsed = !navbarCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="navbar" collapse="navbarCollapsed">
          <ul class="nav navbar-nav">
            <li ng-class="{ active: isActive('/')}"><a ui-sref="home">Home</a></li>
            <li ng-class="{ active: isActive('/about')}"><a ui-sref="about">About</a></li>
            <li ng-class="{ active: isActive('/capabilities')}"><a ui-sref="capabilities">DefCore Capabilities</a></li>
            <li ng-class="{ active: isActive('/results')}"><a ui-sref="results">Community Results</a></li>
          </ul>
          <ul ng-controller="authController" class="nav navbar-nav navbar-right">
            <li ng-class="{ active: isActive('/profile')}" ng-if="isAuthenticated()"><a ui-sref="profile">{{currentUser.fullname}}</a></li>
            <li ng-if="isAuthenticated()"><a href="" ng-click="doSignOut()">Sign Out</a></li>
            <li ng-if="!isAuthenticated()"><a href="" ng-click="doSignIn()">Sign In / Sign Up</a></li>
          </ul>
        </div>
    </div>
</nav>

