<div class="heading"><a ui-sref="home"><img src="assets/img/refstack-logo.png" alt="RefStack"></a>
RefStack
</div>
<nav class="navbar navbar-default" role="navigation" ng-controller="HeaderController as header">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" ng-click="header.navbarCollapsed = !header.navbarCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="navbar" uib-collapse="header.navbarCollapsed">
          <ul class="nav navbar-nav">
            <li ng-class="{ active: header.isActive('/')}"><a ui-sref="home">Home</a></li>
            <li ng-class="{ active: header.isActive('/about')}"><a ui-sref="about">About</a></li>
            <li ng-class="{ active: header.isActive('/guidelines')}"><a ui-sref="guidelines">DefCore Guidelines</a></li>
            <li ng-class="{ active: header.isActive('/community_results')}"><a ui-sref="communityResults">Community Results</a></li>
            <!---
            <li ng-class="{ active: header.isCatalogActive('public')}" class="dropdown" uib-dropdown>
                <a role="button" class="dropdown-toggle" uib-dropdown-toggle>
                    Catalog <strong class="caret"></strong>
                </a>
                <ul class="dropdown-menu">
                    <li><a ui-sref="publicVendors">Vendors</a></li>
                </ul>
            </li>
            --->
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li ng-class="{ active: header.isActive('/user_results')}" ng-if="auth.isAuthenticated"><a ui-sref="userResults">My Results</a></li>
            <!---
            <li ng-if="auth.isAuthenticated" ng-class="{ active: header.isCatalogActive('user')}" class="dropdown" uib-dropdown>
                <a role="button" class="dropdown-toggle" uib-dropdown-toggle>
                    My Catalog <strong class="caret"></strong>
                </a>
                <ul class="dropdown-menu">
                    <li><a ui-sref="userVendors">My Vendors</a></li>
                </ul>
            </li>
            --->
            <li ng-class="{ active: header.isActive('/profile')}" ng-if="auth.isAuthenticated"><a ui-sref="profile">Profile</a></li>
            <li ng-if="auth.isAuthenticated"><a href="" ng-click="auth.doSignOut()">Sign Out</a></li>
            <li ng-if="!auth.isAuthenticated"><a href="" ng-click="auth.doSignIn()">Sign In / Sign Up</a></li>
          </ul>
        </div>
    </div>
</nav>
