{
    "app_address": "0.0.0.0:8000",

    "test_mode": "docker",

    "tempest_url":
    "https://github.com/openstack/tempest/archive/stable/havana.zip",

    "tempest_config":
    {
        "compute":
        {
            "image_ref": "a8d70acb-f1c4-4171-b0ce-d73e5de21a9d",
            "image_ref_alt": "6182b1da-e64d-4440-b0ef-c0afa4d77abb",
            "flavor_ref": "1",
            "flavor_ref_alt": "1"
        }
    },

    "tempest_testcases":
    {
        "testcases":
        [
        "tempest.api.compute.admin.test_flavors",
        "tempest.api.compute.admin.test_availability_zone"
        ]
    }
}
