requests
twisted
flask
Flask-SQLAlchemy
flask-admin
flask-openid
werkzeug==0.8.3
flask==0.9
Flask-Login==0.1.3
# as per http://stackoverflow.com/questions/17092849/flask-login-typeerror-decoding-unicode-is-not-supported/17098415#17098415
flask-sqlalchemy
flask-security
git+https://github.com/tobiasandtobias/flask-alembic.git#egg=flask-alembic
psycopg2
gunicorn