coverage>=3.6
pep8==1.5.7
pyflakes==0.8.1
flake8==2.2.4
docutils>=0.11  # OSI-Approved Open Source, Public Domain
sphinx>=1.5.1
httmock>=1.2.4
mock
oslotest>=1.2.0 # Apache-2.0
python-subunit>=0.0.18
testrepository>=0.0.18
testtools>=0.9.34
pep257>=0.5.0
PyMySQL>=0.6.2,!=0.6.4
openstackdocstheme>=1.5.0  # Apache-2.0
