body {
    font-family: helvetica, san-serif;
    font-size: 16px;
    margin: 30px;
    padding: 0;
}

.container{
}

.grid{
    width: 1224px !important;
}

.inner_container{
    z-index: 100;
    position: relative;
}

.header{
    display: block;
    height: 70px;
}

a {
    color: #274F7D;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: #274F7D;
}

p.message {
    color: #335E79;
    padding: 10px;
    background: #CADEEB;
}

p.error {
    color: #783232;
    padding: 10px;
    background: #EBCACA;
}

.ref_nav{
    display: inline-block;
    z-index:10000;
    float: right;
    margin-top: 15px;

}

.ref_nav li {
    display: inline-block;
    padding-left: 5px;

}

input {
    font-family: helvetica, san-serif;
    font-size: 16px;
    border: 1px solid black;
    color: #335E79;
    padding: 2px;
}

.dropdown-menu li {
    display: block;
}

h1, h2, h3, h4 {

    font-family: helvetica, san-serif;
    margin:0px;
    padding: 0px;
}

h2{
    font-size: 22px;
    margin-bottom: 0px !important;
    font-weight: bold;
}

.logo{
    display: inline-block;
    height: 50px;
    color: #274F7D;
    font-size: 30px;
    font-weight: bold;
}

a.logo:hover{
    text-decoration: none;
    color: #274F7D;
}

.logo span{
    color: #329000;
}

input[type="submit"] {
    background: #CADEEB;
    color: #335E79;
    border-color: #335E79;
}

input[name="openid"] {
    background: url(openid.png) 4px no-repeat;
    padding-left: 24px;
}

.index_left{
    background-color: #5FD4B1;
}

.index_center{
    background-color: #689AD3;
}

.index_right{
    background-color: #99EE6B;
}

.option{
    border-radius: 10px;
    padding: 15px 15px;
    color: white;
    height: 110px;
    font-size: 20px;
}

.option p{
    display: block;
    width: 215px;
    float: right;
}

.panel-heading{
    font-weight: bold;
}

.panel-heading span{
    color: #274F7D;
    margin-right: 6px;
}

.red{
    color: red;
}

.green{
    color: #329000;
}

.vendors{
    text-align: center;
    color: #274F7D;
}

.vendors li{
    display: inline-block;
    padding: 0px 5px;
}

.report_text_table,
.report_data_table{
    width: auto;
}

.report_text_table tbody > tr > td,
.report_text_table tbody > tr > th{
    border-top: 0px;
    vertical-align: middle;
    white-space: nowrap;
}

.report_text_table tbody > tr > th{
    text-align: right;
}

.report_data_table{
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
}

.report_data_table tbody > tr > td,
.report_data_table tbody > tr > th{
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    white-space: nowrap;
}

.report_data_table tbody > tr > th{
    background-color: rgb(245, 245, 245);
}

.report_data_path{
    background-color: rgb(250, 250, 250);
    font-style: italic;
}

.blue{
    color: blue;
}