{% extends "layout.html" %}
{% block title %}Create Cloud{% endblock %}
{% block body %}
  <h2>Create Cloud</h2>
  <form action="" method='post'>
    <dl>
      <dt>Label:</dt>
      <dd><input type='text' name='label' size='30' value="{{ request.values.label }}"></dd>
      <dt>Non-Admin Keystone Endpoint:</dt>
      <dd><input type='text' name='endpoint' size='30' value="{{ request.values.endpoint }}"></dd>
      <dt>Non-Admin User:</dt>
      <dd><input type='text' name='test_user' size='30' value="{{ request.values.test_user }}"></dd>
      <dt>Non-Admin Password or Key:</dt>
      <dd><input type='text' name='test_key' size='30' value="{{ request.values.test_key }}"></dd>
      <dt>Admin Keystone Endpoint:</dt>
      <dd><input type='text' name='admin_endpoint' size='30' value="{{ request.values.admin_endpoint }}"></dd>
      <dt>Admin User:</dt>
      <dd><input type='text' name='admin_user' size='30' value="{{ request.values.admin_user }}"></dd>
      <dt>Admin Password or Key:</dt>
      <dd><input type='text' name='admin_key' size='30' value="{{ request.values.admin_key }}"></dd>
    </dl>
    <p>
      <input type='button' value="Cancel" onclick="location.href='/'">
      <input type='submit' value="Create">
      <input type='hidden' name='next' value="{{ next }}">
  </form>
  
{% endblock %}

