{% extends "layout.html" %}
{% block title %}Create Cloud{% endblock %}
{% block body %}
  <h2>Edit Cloud</h2>
  <form action="" method='post'>
    <dl>
      <dt>Label:</dt>
      <dd><input type='text' name='label' size='30' value="{{ form.label }}"></dd>
      <dt>v3 Endpoint:</dt>
      <dd><input type='text' name='endpoint_v3' size='30' value="{{ form.endpoint_v3 }}"></dd>
      <dt>Non-Admin Keystone Endpoint:</dt>
      <dd><input type='text' name='endpoint' size='30' value="{{ form.endpoint }}"></dd>
      <dt>Non-Admin User:</dt>
      <dd><input type='text' name='test_user' size='30' value="{{ form.test_user }}"></dd>
      <dt>Admin Keystone Endpoint:</dt>
      <dd><input type='text' name='admin_endpoint' size='30' value="{{ form.admin_endpoint }}"></dd>
      <dt>Admin User:</dt>
      <dd><input type='text' name='admin_user' size='30' value="{{ form.admin_user }}"></dd>
      <dt>Version:</dt>
      <dd><input type='text' name='version' size='30' value="{{ form.version }}"></dd>
    </dl>
    <p>
      <input type='button' value="Cancel" onclick="location.href='/'">
      <input type='submit' value="Save">
      <input type='hidden' name='next' value="{{ next }}">
  </form>
  
{% endblock %}

