{% extends "layout.html" %}
{% block title %}Welcome{% endblock %}
{% block body %}
        <div class="unit span-grid">
            <h2>What is Refstack?</h2>
        </div>
        <div class="unit one-of-three index_left option">
            <span class="glyphicon glyphicon-check"></span>
            <p>An existence proof of the certified openstack APIs.</p>
        </div>
        <div class="unit one-of-three index_center option">
            <span class="glyphicon glyphicon-check"></span>
            <p>A reference OpenStack environment for tools developers.</p>
        </div>
        <div class="unit one-of-three index_right option">
            <span class="glyphicon glyphicon-check"></span>
            <p>A certification process for OpenStack service and product vendors.</p>
        </div>
        <div class="unit span-grid">
            <br/>
            Vendors that are registered with RefStack:<br/><br/>
            <ul>
                {% for vendor in vendors %}
                <li><a href="mailto:{{ vendor.contact_email }}">{{ vendor.vendor_name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="unit one-of-two">
            <h3>Get involved!</h3>
            We welcome collaboration. <Br>
            To join the conversation jump into <a href="irc://irc.freenode.net/channel?refstack">#refstack</a> on freenode.
            <br/><br/>
            For a living blueprint see our <a href="https://etherpad.openstack.org/RefStackBlueprint">etherpad</a>! 
        </div>
        <div class="unit one-of-two">
            <h3>Refstack CLI</h3>
            The refstack command line interface allows you to pre-test your cloud. <br>
            <br/>
            Documentation coming soon!
        </div>
{% endblock %}