{% extends "layout.html" %}
{% block title %}Welcome{% endblock %}
{% block body %}
        <div class="unit span-grid">
            <h2>What is Refstack?</h2>
        </div>
        <div class="unit one-of-three">
            An existence proof of the certified openstack APIs.
        </div>
        <div class="unit one-of-three">
            A reference OpenStack environment for tools developers.
        </div>
        <div class="unit one-of-three">
            A certification process for OpenStack service and product vendors.
        </div>
        <div class="unit span-grid">
            <br/>
            Some of vendors registered with RefStack:<br/><br/>
            <ul>
                {% for vendor in vendors %}
                <li><a href="mailto:{{ vendor.contact_email }}">{{ vendor.vendor_name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="unit span-grid">
            <h3>Get involved!</h3>
            We welcome collaboration. To join the conversation jump into #refstack on freenode.
            <br/><br/>
            For a living blueprint see our <a href="https://etherpad.openstack.org/RefStackBlueprint">etherpad</a>! 
        </div>
{% endblock %}