<!doctype html>
<html>
<head>
    <title>RefStack: What is it?</title>
    <link rel="stylesheet" href="/static/toast.css">
</head>
<body>

<div class="container">
    <div class="grid">
        <div class="unit span-grid">
            <h1>What is Refstack?</h1>
        </div>
        <div class="unit one-of-three">
            An existence proof of the certified openstack APIs.
        </div>
        <div class="unit one-of-three">
            A reference OpenStack environment for tools developers.
        </div>
        <div class="unit one-of-three">
            A certification process for OpenStack service and product vendors.
        </div>
        <div class="unit span-grid">
            For detailed specification, see <a href="https://etherpad.openstack.org/RefStackBlueprint">https://etherpad.openstack.org/RefStackBlueprint</a>
        </div>
    </div>
</div>
</body>
</html>