{% extends "layout.html" %}
{% block title %}Test Report{% endblock %}
{% block body %}
<h2>Test Report</h2>

    <table class="table report_text_table">
        {% if test.cloud %}
            <tr>
                <th>Cloud:</th>
                <td class="blue"> {{ test.cloud.label }}</td>
            </tr>
        {% endif %}
        <tr>
            <th>Test ID:</th>
            <td class="blue"> {{ test.id}}</td>
        </tr>
    </table>

    <table class="table report_data_table">
        <tr>
            <th>Pass</th>
            <th>Fail</th>
            <th>Fail Setup</th>
            <th>Error</th>
            <th>Skip</th>
            <th>Total</th>
        </tr>
        <tr>
            <td class="green">{{ test_result['summary']['PASS'] }}</td>
            <td class="red">{{ test_result['summary']['FAIL'] }}</td>
            <td class="red">{{ test_result['summary']['FAIL_SETUP'] }}</td>
            <td class="red">{{ test_result['summary']['ERROR'] }}</td>
            <td>{{ test_result['summary']['SKIP'] }}</td>
            <td class="blue"><b>{{ test_result['summary']['Total'] }}</b></td>
        </tr>
    </table>

    <table class="table report_data_table">
        <tr>
            <th class="left">Testcase</th>
            <th>Status</th>
            <th>Elapsed Time</th>
        </tr>
        {% for classname, testcases in test_result['data'].items() %}
            <tr>
                <td class="report_data_path" colspan=3 style="text-align:left"><b>Test Group:</b> {{ classname }}</td>
            </tr>
            {% for testcase in testcases %}
                <tr>
                    <td style="text-align:left">{{ testcase[0] }}</td>
                    {% if testcase[1] == "PASS" %}
                        <td class="green">{{ testcase[1] }}</td>
                    {% elif testcase[1] == "SKIP" %}
                        <td>{{ testcase[1] }}</td>
                    {% else %}
                        <td class="red">{{ testcase[1] }}</td>
                    {% endif %}
                    <td>{{ testcase[2] }}s</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>

    <input type='button' value="Back" onclick="location.href='{{ next_url }}'">
{% endblock %}
