{% extends "layout.html" %}
{% block title %}Test Cloud{% endblock %}
{% block body %}
<h2>Test Cloud</h2>
<form action="" method='post'>
    <dl>
        <dt>Test User ({{ names.user }}) Password:</dt>
        <dd><input type='password' name='pw_user' size='30' value="{{ request.values.pw_user }}"></dd>
        <dt>Admin User ({{ names.admin }}) Password:</dt>
        <dd><input type='password' name='pw_admin' size='30' value="{{ request.values.pw_admin }}"></dd>
    </dl>
    <p>
    <input type='button' value="Cancel" onclick="location.href='{{ next_url }}'">
    <input type='submit' value="Run">
</form>
{% endblock %}
