body {
  background: white;
  color: black;
  font-family: 'Helvetica Neue', 'Helvetica', 'Verdana', sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.heading {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

.heading img {
  height: 50px;
  vertical-align: text-bottom;
}

form {
  margin: 0;
  padding: 0;
  border: 0;
}

fieldset {
  border: 0;
}

input.error {
  background: #FAFF78;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Futura-CondensedExtraBold', 'Futura', 'Helvetica', sans-serif;
}

.footer {
  background: none repeat scroll 0% 0% #333;
}

.required {
  color: #1D6503;
}

.advisory {
  color: #9F8501;
}

.deprecated {
  color: #B03838;
}

.removed {
  color: #801601;
}

.checkbox {
  word-spacing: 20px;
  background: #F8F8F8;
  padding: 10px;
}

.checkbox-test-list {
  word-spacing: normal;
  background: none;
}

.checkbox-test-list .info-hover {
  font-size: 12px;
  color: #878787;
  cursor: help;
}

.capabilities {
  color: #4B4B4B;
}

.capabilities .capability-list-item {
  border-bottom: 2px solid #AFAFAF;
  padding-bottom: .6em;
}

.capabilities .capability-name {
  font-size: 1.3em;
  font-weight: bold;
  color: black;
}

#criteria {
  color: #4B4B4B;
}

.criterion-name {
  font-size: 1.1em;
  font-weight: bold;
}

.list-inline li:before {
  content: '\00BB';
}

.program-about {
  font-size: .8em;
  padding-top: .3em;
  float: right;
}

.jumbotron .left {
  width: 70%;
}

.container .jumbotron {
  background: #F6F6F6;
  border-top: 2px solid #C9C9C9;
  border-bottom: 2px solid #C9C9C9;
  border-radius: 0;
}

.jumbotron .right {
  width: 30%;
}

.jumbotron img {
  width: 70%;
  height: 70%;
}

.jumbotron .openstack-intro__logo {
  width: 100%;
}

.result-filters {
  padding-bottom: 10px;
  border-top: 2px solid #C9C9C9;
  border-bottom: 2px solid #C9C9C9;
  margin-bottom: 15px;
}

@media (min-width: 450px) {
  .jumbotron .openstack-intro__logo {
    width: 30%;
  }
  .openstack-intro__logo img {
    float: right;
  }
  .openstack-intro__content > *:first-child {
    margin-top: 0;
  }
  .openstack-intro__content > *:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .jumbotron.openstack-intro {
    padding: 40px;
  }
}

.yes {
  background: #1A911E;
  color: white;
  padding-left: .5em;
  padding-right: .5em;
}

.no {
  background: #BC0505;
  color: white;
  padding-left: .5em;
  padding-right: .5em;
}

.button-margin {
  margin-bottom: 1em;
}

.tests-modal-content {
  overflow: auto;
  max-height: calc(100vh - 100px);
}

.tests-modal-content textarea {
  font-size: .9em;
  resize: none;
}

.test-detail {
  padding-left: 10px;
}

.test-detail ul {
  padding-left: 20px;
}

.test-detail-report {
  font-size: .9em;
}

a.glyphicon {
  text-decoration: none;
}

.test-list-dl {
  word-spacing: normal;
}

.test-list-dl:hover {
  text-decoration: none;
}

.modal-body .row {
  margin-bottom: 10px;
}
