[DEFAULT]
debug = true
verbose = true
ui_url = https://${REFSTACK_HOST:-127.0.0.1}

[api]
static_root = /home/dev/refstack/refstack-ui/app
template_path = /home/dev/refstack/refstack-ui/app
app_dev_mode = true
api_url = https://${REFSTACK_HOST:-127.0.0.1}

[database]
connection = ${REFSTACK_MYSQL_URL}

[osid]
openstack_openid_endpoint = https://172.17.42.1:8443/accounts/openid2
