<p>
    <strong>Overview</strong>
</p>
<p>RefStack intends on being THE source of tools for interoperability testing
    of OpenStack clouds.</p>
<p>RefStack provides users in the OpenStack community with a Tempest wrapper,
    refstack-client, that helps to verify interoperability of their cloud
    with other OpenStack clouds. It does so by validating any cloud
    implementation against the OpenStack Tempest API tests.</p>
<p>
    <strong>RefStack and DefCore</strong> - The prototypical use case for RefStack provides
    the DefCore Committee the tools for vendors and other users to run API
    tests against their clouds to provide the DefCore committee with a reliable
    overview of what APIs and capabilities are being used in the marketplace.
    This will help to guide the DefCore-defined capabilities and help ensure
    interoperability across the entire OpenStack ecosystem. It can also
    be used to validate clouds against existing DefCore capability lists,
    giving you assurance that your cloud faithfully implements OpenStack
    standards.
</p>
<p>
    <strong>Value Add for Vendors</strong> - Vendors can use RefStack to demonstrate that
    their distros, and/or their customers' installed clouds remain with OpenStack
    after their software has been incorporated into the distro or cloud.
</p>
<p>
    <strong>RefStack consists of two parts:</strong>
</p>
<ul>
    <li>
        <dl>
            <dt>
                <strong>refstack-api</strong>
            </dt>
            <dd>
                <p>Our API isn't just for us to collect data from private and public cloud
    vendors. It can be used by vendors in house to compare interoperability
    data over time.</p>
                <ul>
                    <li>install docs:
                        <a href="https://github.com/openstack/refstack/blob/master/doc/refstack.md">doc/refstack.md</a>
                    </li>
                    <li>repository:
                        <a href="http://git.openstack.org/cgit/openstack/refstack">http://git.openstack.org/cgit/openstack/refstack</a>
                    </li>
                    <li>reviews:
                        <a href="https://review.openStack.org/#q,status:open+refstack,n,z">https://review.OpenStack.org/#q,status:open+refstack,n,z</a>
                    </li>
                </ul>
            </dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>
                <strong>refstack-client</strong>
            </dt>
            <dd>
                <p>refstack-client contains the tools you will need to run the DefCore tests.</p>
                <ul>
                    <li>repository:
                        <a href="http://git.openstack.org/cgit/openstack/refstack-client">http://git.openstack.org/cgit/openstack/refstack-client</a>
                    </li>
                    <li>reviews:
                        <a href="https://review.openstack.org/#q,status:open+refstack-client,n,z">https://review.openstack.org/#q,status:open+refstack-client,n,z</a>
                    </li>
                </ul>
            </dd>
        </dl>
    </li>
</ul>
<p>
    <strong>Get involved!</strong>
</p>
<ul>
    <li>Mailing List: openstack-dev@lists.openstack.org </li>
    <li>IRC: #refstack on Freenode</li>
    <li>Dev Meetings: Mondays @ 19:00 UTC in #openstack-meeting-alt on Freenode</li>
    <li>Web-site:
        <a href="https://refstack.openstack.org">https://refstack.openstack.org</a>
    </li>
    <li>Wiki:
        <a href="https://wiki.OpenStack.org/wiki/RefStack">https://wiki.OpenStack.org/wiki/RefStack</a>
    </li>
</ul>
